html {
  box-sizing: border-box
}

*, 
*::before,
*::after { 

  box-sizing: inherit;
}

:root {
  font-size: 62.5%
}

body {
  background-color: rgb(32, 0, 36);
  color: rgb(255, 214, 33);
  font-family: 'Press Start 2P', Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  text-align: center;
}

#game-img {
  height: 450px;
  width: 450px;
  margin: 10px;
}

#accept,
#start-btn {
  background-color: transparent;
  border: 2px solid rgb(255, 214, 33);
  color: rgb(255, 214, 33);
  font-family: 'Press Start 2P', Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 10px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 100px;
}

h2 {
  margin: 10px;
}