html {
  box-sizing: border-box
}

*, 
*::before,
*::after { 

  box-sizing: inherit;
}

:root {
  font-size: 50%
}

body {
  background-color: rgb(255, 252, 237);
  color: rgb(32, 0, 36);
  font-family: 'Press Start 2P', Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  --btn-text-color: rgb(32, 0, 36);
  --btn-border: 2px solid rgb(32, 0, 36);
}

body.dark {
  background-color: rgb(32, 0, 36);
  color: rgb(255, 214, 33);
  --btn-text-color: rgb(255, 214, 33);
  --btn-border: 2px solid rgb(255, 214, 33);
}

main {
  margin: 40px;
}

#intro-text {
  font-size: 12px;
  margin: 30px;
}

#game-img {
  height: 400px;
  margin: 10px;
}

.btn {
  background-color: transparent;
  border: var(--btn-border);
  color: var(--btn-text-color);
  font-family: 'Press Start 2P', Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 10px;
  margin: 10px;
}

#light-dark-btn {
  justify-content: flex-start;
  align-items: flex-start;
  height: 40px;
  font-size: 15px;
  padding: 6px;
  margin: 10px;
}

.img {
  height: 100px;
  margin: 10px 10px 30px 10px;
}

h1 {
  margin-top: 15px;
}

h2 {
  margin: 10px;
}