html {
  box-sizing: border-box
}

*, 
*::before,
*::after { 

  box-sizing: inherit;
}

:root {
  font-size: 50%
}

body {
  background-color: rgb(32, 0, 36);
  color: rgb(255, 214, 33);
  font-family: 'Press Start 2P', Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --btn-text-color: rgb(255, 214, 33);
  --btn-border: 2px solid rgb(255, 214, 33);
  --light-dark-btn-content: 'Turn the lights on'
}

body.light {
  background-color: rgb(255, 252, 237);
  color: rgb(32, 0, 36);
  --btn-text-color: rgb(32, 0, 36);
  --btn-border: 2px solid rgb(32, 0, 36);
  --light-dark-btn-content: 'Turn the lights off';
}

main {
  text-align: center;
  margin: 40px;
}

#intro-text {
  font-size: 12px;
  margin: 30px;
}

#game-img {
  height: 400px;
  margin: 10px;
}

.btn {
  background-color: transparent;
  border: var(--btn-border);
  color: var(--btn-text-color);
  font-family: 'Press Start 2P', Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 10px;
  margin: 10px;
}

#light-dark-btn::after {
  content: var(--light-dark-btn-content)
}

.img {
  height: 100px;
  margin: 10px 10px 30px 10px;
}

h1 {
  margin-top: 15px;
}

h2 {
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  body {
    margin: 0 200px; 
  }
}